body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.banner {
    margin-top: -55px;
    position: relative;
}

.banner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 500px;
    background: $before;
    z-index: 1000;
    top: 0;
}

.banner__img {
    @include bannerimg(100%, 500px, cover,);
}

.banner__vid {
    @include bannervid(100%, 500px, cover,);
}

.banner__content {
    width: 90%;
    color: $blanco;
    text-align: center;
    position: absolute;
    z-index: 1500;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    font-weight: bold;
}
.presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// galeria 

.gallery__img {
    object-fit: cover;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.gallery__img:hover {
    transform: scale(1.01);
}

.gallery__img--big {
    height: 400px;
}

.gallery__img--small {
    height: 300px;
}

.gallery__centrar {
    object-position: -190px;
}

.gallery__derecha {
    object-position: -20px;
}

.modal {
    width: 100%;
    min-height:100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50000;
    display: none;
}

.modal__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal__img {
    width: 90%;
}

.modal__boton {
    position: absolute;
    top: 10px;
    color: $blanco;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: $tema;
    font-size: 2.5em;
    text-align: center;
    border-radius: 50%;
    font-family: monospace;
}
.modal--open {
    display: block;
}
.gallery__centrar {
    object-position: -150px;
}
.gallery__img--small {
    height: 300px;
   
}

// nosotros

.our-team {
    text-align: center;
    margin-bottom: 20px;
}

.our-team .container--flex {
    align-items: flex-start;
}

.our-team__title {
    font-family: $letra-titulos;
    color:$tema; 
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.our-team__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.our-team__img1 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: -140px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.our-team__txt {
    padding: 20px;
    text-align: center;
}

.nos--motivation {
    background: $tema;
    color: $blanco;
    padding: 50px;
    text-align: center;
    
}

.group--color .container {
    background: #ffffff;
    color: $blanco;
    padding: 10px;
    text-align: center;
}
.welcome {
    background: $tema;
    
}

// contacto

.contact-information {
    padding: 10px;
    padding-top: 0;
    margin-bottom: 30px;
    border-bottom: 1px solid $tema;
    
}

.contact-information .column--title{
    font-family: 'Arima Madurai', cursive;
    color:#6867ac ;
    font-weight: 100;
}

.contact-information [class*="icon-"] {
    font-size: 1.3em;
    margin-right: 7px;
    position: relative;
    color:#6867ac ;
    top: 5px;
}

.contact-information .social-icon {
    justify-content: flex-start;
    margin-bottom: 10px;
}

.contact-information .social-icon [class*="icon-"] {
    background: $tema;
    color: $blanco;
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 10px;
    
}

.formulario {
    padding: 10px;
    padding-top: 0;
    
}

.boton__gral {
    display: block;
    width: 100%;
}

.formulario__label {
    @extend .boton__gral;
}
.formulario__input-txt {
    @extend .boton__gral;
    padding: 10px;
    margin-bottom: 10px;
}
.formulario__textarea {
    @extend .boton__gral;
    min-height: 100px;
    max-height: 200px;
    min-width: 100%;
    max-width: 100%;
}



