.main-footer {
    background: $tema-foot;
    color: $blanco;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0.8em;
}

.copy {
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.main-footer [class*="icon-"] {
    color: white;
    text-decoration: none;
}

.main-footer [class*="icon-"]:before {
   padding: 5px;
    top: 5px;
    right: 10px;  
}

.footer__links {
    font-size: 1em;
}
.footer__links:hover {
    transform: scale(1.1);
}

