.main-header {
    width: 100%;
}

.logo {
    font-size: 1.8em;
    color: map-get($paleta, tema);
    padding: 10px;
    font-family: 'Arima Madurai', cursive;
    font-weight: 500;
}

.main-header__contactInfo__phone {
    background: map-get($paleta, tema);
    color: map-get($paleta, blanco);
    margin: 0 auto;
    padding: 10px;
}

.main-header__contactInfo__adress {
    padding: 10px;
    margin: 0;
}

.main-header [class*="icon-"]:before {
    position: relative;
    top: 2px;
    right: 5px;
}

.header--icon {
    text-decoration: none;
    color: map-get($paleta, blanco);
}
.header--icon:hover {
    color: map-get($paleta, tema);
    
}
.main-nav {
    width: 100%;
    position: relative;
    z-index: 2000;
    padding: 10px;
}

.icon-menu {
    display: block;
    color: map-get($paleta, blanco);
    border: 1px solid white;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
}

.social-icon {
    display: flex;
    justify-content: space-between;   
}
.social-icon a:hover {
    transform: scale(1.1) translateY(-1px);
    
}

.social-icon [class*="icon-"] {
    color: black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
}

.social-icon__link {
    text-decoration: none;
}



.menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    background: rgba(0, 0, 0,.75);
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height .3s linear;
}

.menu__link {
    display: block;
    padding: 15px;
    color: $blanco;
    text-decoration: none;
    
}

.menu__link:hover {
    background: map-get($paleta, tema);
   
}


.mostrar {
    height: 245px;    
}

.menu__link--select {
    background-color: map-get($paleta, tema);
}