@media screen and (min-width:320px) {
    
    
    .container--flex {
        display: flex;
    }
    .test1{
        order: 2;
    }
    .test2 {
        order: 1;
    }
    .cursos--txt {
        padding:  10px 0 25px 0;
        margin: 10px;
        list-style: none;
        
    }
    .cursos__title {
        text-align: center;
    }
    .main__text1 {
       margin: 20px;
       text-align: center;
    }
    .column__text {
        margin: 20px;
        text-align: center;
    }
    .column__title {
        margin-left: 20px;
    }
    .main-header__contactInfo__adress a{
        color: $tema;
    }

}

@media screen and (min-width:480px) {
    .logo {
        color: $blanco;
    }

    .main-header__contactInfo {
        text-align: right;
    }
    .main-header__contactInfo__phone {
        background:none;
    }
    .main-header__contactInfo__adress a{
        color: $blanco;
    }
    .main-nav {
        background: rgba(0, 0, 0, 0.85);
    }
    .banner {
        margin-top: -160px;
        z-index: -2000;
    }
    .banner__img {
        height: 600px;
    }
    .banner__vid {
        height: 600px; 
    }
    .banner:before {
        height: 600px;
    }
    
    .banner__content {
        font-size: 2em;
    }
    
    .main {
        padding-bottom: 15px;
    }
    .main__text {
        padding: 20px;
        font-size: 1.3em;
    }

    .main__about__description .column:nth-child(2) {
        padding-left: 20px;
        font-size: .9em;
    }

    .main__about__description .btn {
        margin: 0;
    }

    .today-special .column {
        background-color: #f0f0f0;
        border-radius: 20px;
        padding: 5px;
    }

    .today-special__img {
        height: 200px;
        object-fit: contain;
    }
    .main-footer .container--flex {
        align-items: flex-start;
    }

    .column--50 {
        width: 50%;
    }
    .column--50-25 {
        width: 49%;
    } 
    .column--33 {
        width: 32%;
    } 
    .column--galeria {
        width: 100%;
        height: 100%
    }
    .gallery__centrar {
        object-position: 0;
    }
    
    .test1{
        order: 2;
    }
    .test2 {
        order: 1;
    }
    .column--100-50 {
        width: 100%;
    }
    .contact .container--flex {
        align-items: flex-start;
    }
    .contact-information p {
        font-size: .75em;
    }
    .contact-information {
        border-right: 1px solid $tema;
        border-bottom: none;
    }
    
}
@media screen and (min-width:768px) {
    .column--100-50 {
        width: 49%;
    }
    .main__title {
        font-size: 2.2em;
    }     
    .main__about__description {
        margin-top: 30px;
    }
    .main__about__description .column--50:nth-child(2) {
        font-size: 1em;
    }    
    .main__about__description .column--50:nth-child(2) .column__text{
        line-height: 20px;
    }
    .column--50-25 {
        width: 49.5%;
    }
    .column__title {
        font-size: 1em;
    }
    .group__title {
        font-size: 2.2em;
    }
    .cursos--txt {
        padding: 0px;   
    }
    .btn {
        width: auto;
    }
    
     .main__text {
        margin: 20px;
        font-size: 1.2em;
    }
    .our-team__txt {
        font-size: 1.4em;
    }

    .nos__title {
        font-size: 3em;
        font-weight: bold;
    }
    .nos__txt {
        font-size: 2em;
    }
    .our-team__img  {
        width: 220px;
        height: 220px;
    }

    .our-team__img1 {
        width: 220px;
        height: 220px;
        object-position: -140px;
    }
    .main__about__description .column--50:nth-child(2) .column__text{
        line-height: 20px;
    }
    .cursos--txt {
        padding: 20px;
        line-height: 20px;
    }
  
    .test1{
        order: 0;
    }
    .test2 {
        order: 0;
    }
    .cursos--txt {
        padding: 20px;
        margin: 0px;
    }
   
    .cursos--price {
        display: flex;
        justify-content: center;
    }
    .contact-information p {
        font-size: 1em;
    }
    .contact-information .column--title{
       font-size: 1.5em;

    }
 
}

@media screen and (min-width:1024px) {
    .container {
        width: 100%;
    }
    .logo {
        font-size: 2em;
        padding: 0;
    }
    .main-header__contactInfo__phone, .main-header__contactInfo__adress {
        padding-right: 0;
        font-size: 1.2em;
    }
    .main-nav {
        padding: 0;
    }
    .banner__content {
        font-size: 2.5em;
    }
    .icon-menu {
        display: none;
    }
    .menu {
        position: static;
        display: flex;
        height: auto;
        width: auto;
       
    }
    .menu__link {
        padding: 20px;
    }

    .main__text {
        padding: 20px 100px;
        font-size: 1.3em;
    }

    .main__title {
        font-size: 2.2em;
    }
    .main__about__description .column--50:nth-child(2) .column__text{
        line-height: 24px;
    }
    .today-special__title {
        font-size: 1.3em;
    }
    .today-special__price {
        font-size: 1.8em;
    }
    .main-footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .column--50-25 {
        width: 24.5%;
    }
    .cursos--txt {
        padding: 50px;
    }
    .banner {
        height: 90vh;
    }
    .banner:before {
        height: 90vh;  
    } 
    
    .banner__img {
        height: 90vh;
    }
    .banner__vid {
        height: 90vh;
    }

    .header--todo {
        width: 900px;
    }
    
    .our-team__img  {
        width: 200px;
        height: 200px;
    }
    .our-team__img1 {
        width: 200px;
        height: 200px;
        object-position: -140px;
    }

    .our-team__title {
        font-size: 2em;
        font-weight: 100;
    }
    .our-team__txt {
        font-size: 1.3em;
    }
    .test1 {
        display: block;
    }
   
    .column__title {
       
        font-size: 1.7em;
    }
    .gallery__centrar {
        object-position: -200px;
    }
    
    
}

@media screen and (min-width:1600px) {
        
    .container {
        width: 1400px;
    }
    .header--todo {
        width: 1400px;
    }

    .column__title {
        padding-left: 20px;
        font-size: 2em;
        font-family: 'Pacifico', cursive;
        font-weight: 100;
    }
    .column__text {
        font-size: 1.1em;
        padding-left: 20px;
    }
    .banner {
        height: 90vh;
    }
    .banner:before {
        height: 90vh;  
    } 
    
    .banner__img {
        height: 90vh;
    }
    .banner__vid {
        height: 90vh;
    }
    
    .main__about__description .column--50:nth-child(2) .column__text{
        line-height: 30px;
    }
    .welcome {
        width: 100%;
    }
    .modal__img {
        width: 60%;
    }
    .our-team__img  {
        width: 200px;
        height: 200px;
    }
    .our-team__img1 {
        width: 200px;
        height: 200px;
        object-position: -145px;
    }
    .main__text1 {
        color: $blanco;
        margin: 10px 100px 70px;
        font-size: 1.5em;
    }
    
}