.gallery__img {
    object-fit: cover;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.gallery__img:hover {
    transform: scale(1.01);
}

.gallery__img--big {
    height: 400px;
}

.gallery__img--small {
    height: 300px;
}

.gallery__centrar {
    object-position: -190px;
}

.gallery__derecha {
    object-position: -20px;
}

.modal {
    width: 100%;
    min-height:100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50000;
    display: none;
}

.modal__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal__img {
    width: 90%;
}

.modal__boton {
    position: absolute;
    top: 10px;
    color: white;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #6867ac;
    font-size: 2.5em;
    text-align: center;
    border-radius: 50%;
    font-family: monospace;
}
.modal--open {
    display: block;
}

.column__title {
    font-family: 'Pacifico', cursive;
    font-weight: 100;
    font-size: 1.5em;
}

@media screen and (min-width:420px) {
    .gallery__centrar {
        object-position: -150px;
    }
    .gallery__img--small {
        height: 300px;
       
    }
}
@media screen and (min-width:478px) {
    .column--50-25 {
        width: 99%;
    }
}

@media screen and (min-width:768px) {
    .main { 
        height: 100%;
    }
    .gallery__img--big {
        height: 600px;
    }
    
    .gallery__img--small {
        height: 800px;
    }
    
    .gallery__centrar {
        object-position: 0px;
    }
    
    .gallery__derecha {
        object-position: 0;
    }
    .prueba {
        width: 100%;
    }
    .column--50-25 {
        width: 100%;
        height: 100%;
    }
    .gallery__img:hover {
        transform: scale(1.0);
    }

    .modal__img {
        width: 80%;
    }
    
}
   
@media screen and (min-width:1024px) {
    .main { 
        height: 100%;
    }
    .gallery__img--big {
        height: 400px;
    }
    
    .gallery__img--small {
        height: 300px;
    }
    .prueba {
        width: 100%;
    }
    .column--50-25 {
        width: 49%;
       
    } 
    .gallery__img:hover {
        transform: scale(1.0);
    }
    .modal__img {
        width: 70%;
    }
}

@media screen and (min-width:1600px) {
    .main { 
        height: 100%;
    }
    .gallery__img--big {
        height: 400px;
    }
    
    .gallery__img--small {
        height: 300px;
    }
    
    .gallery__centrar {
        object-position: -190px;
    }
    
    .gallery__derecha {
        object-position: -20px;
    }
    .prueba {
        width: 100%;
    }
    .column--50-25 {
        width: 24.5%;
       
    } 
    .gallery__img:hover {
        transform: scale(1.02);
    }
    .modal__img {
        width: 60%;
    }
}